<mat-toolbar class="footer">
    <span>Desenvolvidor com
        <i class="material-icons red v-middle">
            favorite
        </i>
        por <strong></strong> <span class="red">A</span>lisson</span>
</mat-toolbar>
